@tailwind base;

@layer base {
    [type='text'] {
        @apply
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-800
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-900 focus:bg-white focus:border-blue-500 focus:outline-none;
    }

    a {
        @apply
            text-blue-500
            hover:text-blue-400
            focus:text-blue-700;
    }
}
